$themes: (
  light: (
    primaryBgColor: #ffffff,
    primaryBgPingActiveColor: #ffffff,
    primaryBgActiveColor: #eff4f0,
    primaryColor: #373c3f,
    secondaryBgColor: #eff4f0,
    secondaryBgActiveColor: #ffffff,
    secondaryBgHighlightColor: #f3f3f3,
    secondaryColor: #a3a7a8,
    successColor: #155724,
    successBgColor: #d4edda,
    successBorderColor: #c3e6cb,
    dangerColor: #721c24,
    dangerBgColor: #f8d7da,
    dangerBorderColor: #f5c6cb,
    warnColor: #856404,
    warnBgColor: #fff3cd,
    warnBorderColor: #ffeeba,
    inputboxBgColor: #eff4f0,
    inputboxTextColor: #a3a7a8,
    inputboxBorderColor: #868a8d,
    receiveMsgBgColor: #95d8eb,
    sendMsgBgColor: #8bd9c7,
    myMessageboxBgColor: #8bd9c77a,
    othersMessageboxBgColor: #95d8eb7a
  ),
  dark: (
    primaryBgColor: #262c34,
    primaryBgPingActiveColor: #20252c,
    primaryBgActiveColor: #20252c,
    primaryColor: #ffffff,
    secondaryBgColor: #262c34,
    secondaryBgActiveColor: #20252c,
    secondaryBgHighlightColor: #1b1f25,
    secondaryColor: #bdbdbd,
    successColor: #d4edda,
    successBgColor: #155724,
    successBorderColor: #045015,
    dangerColor: #f8d7da,
    dangerBgColor: #721c24,
    dangerBorderColor: #6f0b15,
    warnColor: #fff3cd,
    warnBgColor: #856404,
    warnBorderColor: #856917,
    inputboxBgColor: #1b1f25,
    inputboxTextColor: #ffffff,
    inputboxBorderColor: #ffffff,
    receiveMsgBgColor: #95d8eb,
    sendMsgBgColor: #8bd9c7,
    myMessageboxBgColor: #8bd9c77a,
    othersMessageboxBgColor: #95d8eb7a
  )
);

$colors: (
  blueColor: #1592e5,
  blackColor: #000000,
  lightBlueColor: #3eccfa,
  greenColor: #00d331,
  greyColor: #a9a9a9,
  darkGreyColor: #262c34,
  pinkColor: #f75995,
  darkPinkColor: #8441a4,
  redColor: #d60000,
  whiteColor: #ffffff,
  yellowColor: #f2c52e,
  primaryGradientStartColor: #6454f0,
  primaryGradientEndColor: #6ee2f5,
  secondaryGradientStartColor: #8441a4,
  secondaryGradientEndColor: #ff5b94,
  greyGradientStartColor: #6b6b6b,
  greyGradientEndColor: #cfcfcf
);

@mixin themify() {
  @each $theme, $map in $themes {
    .#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), $key);
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function directTheme($theme_key, $key) {
  @return map-get(map-get($themes, $theme_key), $key);
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@function color($key) {
  @return map-get($colors, "#{$key}Color");
}
