@import "../../theme/theme.scss";
@import "./pings-bar.scss";

.pings-page {
  .layout-main {
    // padding: 24px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    .pings-bar {
      // width: 40%;
      // float: left;
      // h1 {
      //   @include themify() {
      //       color: themed('secondaryColor');
      //     }
      // }
    }
    .pings-content {
      width: 60%;
      float: right;
      h1 {
        @include themify() {
            color: themed('secondaryColor');
          }
      }
    }
  }
}
