@import "../../theme/theme.scss";

.pings-page {
  .layout-main {
    padding: 24px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    .pings-bar {
      width: 35%;
      float: left;
      h1 {
        @include themify() {
            color: themed('secondaryColor');
          }
      }
    }
    .pings-content {
      width: 65%;
      float: right;
      @include themify() {
        color: themed('secondaryColor');
      } 
      h1 {
        @include themify() {
            color: themed('secondaryColor');
          }
      }
    }
  }
}
