@import "../../theme/theme.scss";

.pings-page {
  .layout-main {
    .pings-bar {
      width: 40%;
      float: left;
      padding: 10px;
      .search {
        height: 75px;
        padding: 10px;
        margin-bottom: 10px;
        @include themify() {
          background-color: themed("primaryBgPingColor");
        }
      }
      .ping-item {
        height: 75px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @include themify() {
          background-color: themed("primaryBgPingColor");
          color: themed("primaryColor");
        }
        .ping-active {
          position: absolute;
          width: 8px;
          height: 75px;
          left: -8px;
          border-radius: 8px 0 0 8px;
          background-image: linear-gradient(45deg, #6454f0, #6ee2f5);
        }
        .ping-info {
          display: flex;
          flex-direction: row;
          align-items: center;
          .avatar {
            width: 81px;
            text-align: center;
            .group-icon {
              display: inline;
              border-radius: 0;
            }
            .verified {
              position: absolute;
              right: 18%;
              bottom: 22%;
            }
          }
          .message {
            p {
              margin-bottom: 5px;
              .active {
                margin-left: 10px;
                @include themify() {
                  color: color("green");
                }
              }
              .inactive {
                margin-left: 10px;
              }
            }
          }
        }
        .unread-message {
          margin-right: 15px;
        }
      }
      .ping-item.active {
        @include themify() {
          background-color: themed("primaryBgPingActiveColor");
          border: 1px solid themed("secondaryPingColor");
          position: relative;
        }
      }
    }
  }
}
