@import '../../theme/theme.scss';

.ping-messages{
  @include themify() {
    background: themed("darkGreyColor");
  }
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  box-sizing: border-box;
  height: calc(100vh - 82px - 48px - 80px);
  padding: 15px 18px;
}